<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>{{ page_title }} &bull; {{ site_title }}</title>
		<meta name="description" content="Sebastian Karlsen's portfolio">
		<meta name="keywords" content="karlsen, sebastian, portfolio">
		<meta name="author" content="Sebastian Karlsen">

		<link rel="stylesheet" href="template/style.css">
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="index.php" title="Home">Home</a></li>
				<li><a href="blog.php" title="Blog">Blog</a></li>
			</ul>
		</nav>

		<div class="main">
