body {
	background-color: black;
}

html, body {
	margin: 0;
	padding: 0;
}

/*
 * Navigation
 */

nav {
	height: 10%;
	text-align: right;
	margin-right: 2%;
}

nav li {
	display: inline;
}

nav li::after {
	color: #98971a;
	content: " | ";
}

nav li:last-child::after {
	content: "";
}

nav li a {
	text-decoration: none;
	font-weight: bold;
	color: #fabd2f;
}

nav li a:hover {
	text-decoration: underline;
}

/*
 * Index
 */

/* Center whole table */
table.index {
	height: 90%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

/* Sytle prompt */
.prompt td {
	color: #ebdbb2;
	vertical-align: bottom;
}

.prompt td.username {
	color: #fabd2f;
}

.prompt td.hostname {
	font-size: 200%;
	color: #98971a;
}

.prompt td.dir {
	color: #7ba46d;
}

/* Style social media links */
tr.links {
	text-align: center;
}

.links img {
	filter: invert(1);
}

.links a {
	padding: 1%;
}

/*
 * Blog
 */

section.article {
	margin: 5%;
}

section.article h2 a {
	text-decoration: none;;
	color: #7ba46d;
}

section.article h2 a:hover {
	text-decoration: underline;
}

section.article p {
	margin-left: 5%;
	color: #ebdbb2;
}

section.article p.footer {
	text-align: right;
	color: #918870;
}

section.article p.footer a {
	text-decoration: none;
	color: #918870;
}