body {
	background-color: black;
}

html, body {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
}

td.default {
	color: #ebdbb2;
	vertical-align: bottom;
}

td.username {
	color: #fabd2f;
	vertical-align: bottom;
}

td.hostname {
	font-size: 200%;
	color: #98971a;
}

td.dir {
	color: #7ba46d;
	vertical-align: bottom;
}

tr.links {
	text-align: center;
}

tr.links img.invert {
	filter: invert(1);
}

tr.links a {
	padding: 1%;
}